<!doctype html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Marx J. Moura">
  <meta name="description" content="{{description}}" />
  <meta property="og:title" content="{{title}}"/>
  <meta property="og:image" content="https://fullstack.app/{{image}}"/>
  <meta property="og:description" content="{{description}}"/>
  <meta property="og:url" content="https://fullstack.app/{{path}}" />
  <title>{{title}}</title>
  {{#> head-block}}{{/head-block}}
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/blog.min.css">
</head>
<body>
  <div class="container">
    {{#unless i18n-disabled}}
    <div class="text-right mb-3">
      <div class="dropdown">
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
          {{#if original}} BR {{else}} EN {{/if}}
        </button>
        <div class="dropdown-menu">
          <a href="{{translation}}" class="dropdown-item">BR</a>
          <a href="{{original}}" class="dropdown-item">EN</a>
        </div>
      </div>
    </div>
    {{/unless}}

    {{#unless header-hidden}}
    <div class="header">
      <h1>
        {{#if original}}
        <a href="/br">Full-Stack Applications</a>
        {{else}}
        <a href="/">Full-Stack Applications</a>
        {{/if}}
      </h1>
      <div class="techs">
        <svg><use href="/images/techs.svg#netcore"/></svg>
        <svg><use href="/images/techs.svg#vue"/></svg>
        <svg><use href="/images/techs.svg#postgresql"/></svg>
        <svg><use href="/images/techs.svg#rabbitmq"/></svg>
        <svg><use href="/images/techs.svg#nginx"/></svg>
        <svg><use href="/images/techs.svg#ubuntu"/></svg>
        <svg><use href="/images/techs.svg#aws"/></svg>
        <svg><use href="/images/techs.svg#github"/></svg>
        <svg><use href="/images/techs.svg#circleci"/></svg>
      </div>
    </div>
    {{/unless}}

    {{#> body-block}}{{/body-block}}

    <div class="author">
      <img src="/images/marxjmoura.jpg" alt="marxjmoura">
      {{#if original}}
      <p>
        Eu sou Marx J. Moura. Neste blog escrevo sobre microsserviços e desenvolvimento de aplicações web.
        Sinta-se bem-vindo(a) também ao meu projeto de código aberto
        <a href="https://github.com/storefront-community">Storefront Community</a>.
      </p>
      {{else}}
      <p>
        I'm Marx J. Moura. In this blog I write about microservices and web application development.
        You are also welcome to my open source project
        <a href="https://github.com/storefront-community">Storefront Community</a>..
      </p>
      {{/if}}
    </div>
    {{#if disqus}}
    <div id="disqus_thread"></div>
    {{/if}}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js" integrity="sha256-xzrHBImM2jn9oDLORlHS1/0ekn1VyypEkV1ALvUx8lU=" crossorigin="anonymous"></script>
  <script src="/blog.min.js"></script>
  {{#if disqus}}
  <script>
    var disqus_config = function () {
      this.page.url = 'https://fullstack.app/{{path}}';
      this.page.identifier = '{{disqus}}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://fullstack-app.disqus.com/embed.js';
      s.setAttribute('data-timestamp', + new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  {{/if}}
  {{#> scripts-block}}{{/scripts-block}}
</body>
</html>
