<!doctype html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Marx J. Moura">
  <meta name="description" content="{{description}}" />
  <meta property="og:title" content="{{title}}"/>
  <meta property="og:image" content="https://marxjmoura.com/{{image}}"/>
  <meta property="og:description" content="{{description}}"/>
  <meta property="og:url" content="https://marxjmoura.com/{{path}}" />
  <title>{{title}}</title>
  {{#> head-block}}{{/head-block}}
  <link rel="icon" href="/favicon.ico">
  {{#unless i18n-disabled}}
  {{#if original}}
  <link rel="alternate" href="https://marxjmoura.com/{{original}}" hreflang="en" >
  {{else}}
  <link rel="alternate" href="https://marxjmoura.com/{{translation}}" hreflang="br" >
  {{/if}}
  {{/unless}}
  <link rel="stylesheet" href="/blog.min.css?v=2.0.0">
</head>
<body>
  <div class="container">
    {{#unless i18n-disabled}}
    <div class="text-right mb-3">
      <div class="dropdown">
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
          {{#if original}} BR {{else}} EN {{/if}}
        </button>
        <div class="dropdown-menu">
          {{#if original}}
          <a href="/{{original}}" class="dropdown-item">EN</a>
          {{else}}
          <a href="/{{translation}}" class="dropdown-item">BR</a>
          {{/if}}
        </div>
      </div>
    </div>
    {{/unless}}

    <div class="header">
      <h1>
        {{#if original}}
        <a href="/br">Marx J. Moura</a>
        {{else}}
        <a href="/">Marx J. Moura</a>
        {{/if}}
      </h1>
      <div class="techs">
        <a href="https://dotnet.microsoft.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#netcore"/>
          </svg>
        </a>
        <a href="https://vuejs.org/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#vue"/>
          </svg>
        </a>
        <a href="https://www.postgresql.org/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#postgresql"/>
          </svg>
        </a>
        <a href="https://www.rabbitmq.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#rabbitmq"/>
          </svg>
        </a>
        <a href="https://github.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#github"/>
          </svg>
        </a>
        <a href="https://aws.amazon.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#aws"/>
          </svg>
        </a>
        <a href="https://www.nginx.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#nginx"/>
          </svg>
        </a>
        <a href="https://ubuntu.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#ubuntu"/>
          </svg>
        </a>
        <a href="https://www.docker.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#docker"/>
          </svg>
        </a>
        <a href="https://circleci.com/" target="_blank">
          <svg class="icon">
            <use href="/img/icons.svg#circleci"/>
          </svg>
        </a>
      </div>
    </div>

    <form method="get" action="https://www.google.com/search" class="google-search">
      <input type="hidden" name="sitesearch" value="marxjmoura.com">
      <input type="text" name="q" class="form-control form-control-sm" placeholder="Google">
    </form>

    {{#> body-block}}{{/body-block}}

    <div class="author">
      <img src="/img/marxjmoura.jpg" alt="marxjmoura">
      <div>
        <p class="mb-3">
          {{#if original}}
          Eu sou Marx J. Moura. Neste blog escrevo sobre arquitetura de microsserviços
          e desenvolvimento de aplicações web.
          {{else}}
          I'm Marx J. Moura. In this blog I write about microservice architecture
          and web application development.
          {{/if}}
        </p>
        <p>
          <a href="https://github.com/marxjmoura/">
            <svg class="icon">
              <use href="/img/icons.svg#github"/>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/marxjmoura/">
            <svg class="icon">
              <use href="/img/icons.svg#linkedin"/>
            </svg>
          </a>
        </p>
      </div>
    </div>
    {{#if disqus}}
    <div id="disqus_thread"></div>
    {{/if}}
  </div>
  <script src="/blog.min.js?v=2.0.0"></script>
  {{#if disqus}}
  <script>
    var disqus_config = function () {
      this.page.url = 'https://marxjmoura.com/{{path}}';
      this.page.identifier = '{{disqus}}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://fullstack-app.disqus.com/embed.js';
      s.setAttribute('data-timestamp', + new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  {{/if}}
  {{#> scripts-block}}{{/scripts-block}}
</body>
</html>
